[user]
	name = ysl2
	email = songli.yu@outlook.com

[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[diff]
	submodule = log
[status]
	submodulesummary = 1
[submodule]
	recurse = true
[push]
	recurseSubmodules = on-demand
[credential]
	helper = store
