[user]
	name = ysl2
	email = www.songli.yu@gmail.com
[core]
	autocrlf = input
	safecrlf = true
[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[remote "origin"]
	prune = true
[advice]
	addIgnoredFile = false
